name: CD

on:
  push:
    tags:
      - v*
  workflow_dispatch:

env:
  FORCE_COLOR: "1"  # Make tools pretty.
  PYTHON_LATEST: "3.13"

jobs:
  deploy-pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_LATEST }}
      - uses: snok/install-poetry@v1
        with:
          version: 2.1.1
      - name: Install dependencies
        run: |
          pip install setuptools

      - run: poetry build

      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        run: |
          poetry publish -u __token__ -p ${{ secrets.PYPI_API_TOKEN }}
